
			body
			{
				background-color: #79B8F7;
				font-size: 24px;
				color: black;
			}
			
			h1{
					text-align: center;
					font-size: 60px;
					color: white;
					letter-spacing: 2px;
				}
				
			/*Główny szkielet strony: */
			
			#contener{
				margin-left: auto;
				margin-right: auto;
				padding: 2%;
				width: 90%;			
			}
			
			
			#topbar{			
				background-color: #2776C4;
				/*min-height: 40px;*/
				padding: 2%;
				width: 100%;												
				}
				
				#topmenu{
				background-color: #2776C4;
				padding: 2%;
				margin-top: 1%;
				height: 40%;
				width: 100%;
				}
				
			
				#main{
					margin-top: 10px;
					margin-bottom: 10px;
					margin-left: 10px;
					float: left;
					height: 50%;
					width: 100%;
				
					padding: 5px;
				}
				
				#footer{
					margin-top: 5%;
					width: 100%;
					padding: 1%;
					clear: both;
					background-color: #072600;
					color: white;
					text-align: center;
				}
	/*Tabelka z wpisami*/
	
				@media only screen and (max-width: 460px) {
					.wiersz{
						text-align:center;
						margin-left:auto;
						margin-right:auto;
						height: 10%;
						width: 90%;
						border: 1px  solid black;
						
					}
					
					.fontsize{
						font-size:30%;
					}
					
					.TytulFontsize{
						font-size:10px;
					}
					
				}
					
				@media only screen and (min-width:460px) and (max-width: 670px) {
					.wiersz{
						text-align:center;
						margin-left:auto;
						margin-right:auto;
						height: 10%;
						width: 90%;
						border: 1px  solid black;
						
					}
					
					.fontsize{
						font-size:40%;
					}
					.TytulFontsize{
						font-size:15px;
					}
				}
					
				@media only screen and (min-width:670px) and (max-width: 790px) {
					.wiersz{
						text-align:center;
						margin-left:auto;
						margin-right:auto;
						height: 10%;
						width: 90%;
						border: 1px  solid black;
						
					}
					
					.fontsize{
						font-size:60%;
					}
					
					.TytulFontsize{
						font-size:25px;
					}
				}
	
				@media only screen  and (min-width:790px) and (max-width: 1160px)  {
					.wiersz{
						text-align:center;
						margin-left:auto;
						margin-right:auto;
						height: 10%;
						width: 90%;
						border: 1px  solid black;
						
					}
					
					.fontsize{
						font-size:70%;
					}
					
					.TytulFontsize{
						font-size:30px;
					}
				}
				
				@media only screen and (min-width: 1160px) {
					.wiersz{
						text-align:center;
						margin-left:auto;
						margin-right:auto;
						height: 10%;
						width: 90%;
						border: 1px  solid black;
						
					}
					
					.fontsize{
						font-size:100%;
					}
					
					.TytulFontsize{
						font-size:35px;
					}
				}
				
				
				.data{
					
					width: 16%;
					border-right: 1px  solid black;
					float: left;
				}
				
				.imie{
					width: 48%;
					border-right: 1px  solid black;
					float: left;
				}
				
				.czesc{
					width: 35%;
					float: left;
				}
				
				.naglowek{
					 font-weight: bold;
					 background-color: white;
				
				}
				
				.green{
				background-color: #2DCF33;
				}
				
				.blue{
				/*background-color: #2D59A1;*/
				background-color: #2776C4;
				}
				
				
				
				
				.green:hover{
				font-weight: bold;
				color: #F0EA39;
				background-color: #307A24;
				cursor: pointer;
				}
				
				
				
				.dottedline{
					height: 7px;
					padding: 2px;
					margin-bottom: 5px;
					border-bottom: 2px dotted #444444;
				
				
				}
				
		/* Formularz */
				.formularz{
					text-align:center;
					
				}
				
				.hide{
					display: none;
				}
				
				.nazwaPola{
					
				
				}
				
				.zawartosc{
					
				
				}
				
				.dataPrzyZapisie{
					font-size: 35px;
					color: orange;
					font-weight: bold;
				}
				
				.przycisk{
					/*font-weight: bold;
					font-size: 15px;*/
					background-color: #2776C4;
				
				}
				
				.center{
					text-align:center;
				}
				
				
				
				
				
				a:visited{
				color: yellow;	
				text-decoration: none;
				
				}
				
				a{
				color: white;	
				text-decoration: none;
								
				}
				
				.endfloat{
				clear:both;
				}
				
